** 1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999 **

In [ ]:
r=int(input('Enter the Radius of the Circle '))
print('Area of the Circle = ',3.14*r**2)

Enter the Radius of the Circle3
Area of the Circle =  28.26

**2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78
**

In [ ]:
name=input('Enter the Student name : ')
rollno=input(' Enter the roll number : ')
mark=input('Enter the Mark : ')
print(' Student Details')
print(' ---------------')
print(' Name     :  ',name )
print(' Roll_No  :  ',rollno )
print(' Mark     :  ',mark )

Enter the Student name : Sujitha
 Enter the roll number : 21
Enter the Mark : 78
 Student Details
 ---------------
 Name     :   Sujitha
 Roll_No  :   21
 Mark     :   78

**3.Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.**

In [ ]:
mylist=[45,85,54,68,14,75]
print(max(mylist),'is the largest number')

85 is the largest number

**4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19**

In [ ]:
num=list(range(10))

for i in num:
  sum=i+(i+1)
  print('Current Number :  ',i+1, 'Previous Number  : ',i,' Sum : ',sum)

Current Number :   1   Previous Number  :  0  Sum :  1
Current Number :   2   Previous Number  :  1  Sum :  3
Current Number :   3   Previous Number  :  2  Sum :  5
Current Number :   4   Previous Number  :  3  Sum :  7
Current Number :   5   Previous Number  :  4  Sum :  9
Current Number :   6   Previous Number  :  5  Sum :  11
Current Number :   7   Previous Number  :  6  Sum :  13
Current Number :   8   Previous Number  :  7  Sum :  15
Current Number :   9   Previous Number  :  8  Sum :  17
Current Number :   10   Previous Number  :  9  Sum :  19

**5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55 **

In [ ]:
num=[10,20,33,46,55]
for i in num:
  if i%5==0:
    print(i)

10
20
55

**6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.**

In [ ]:
num=int(input('Enter the number : '))
prime=0
if num == 1:
 print(num, ' is not a prime number')
elif num>1:
  for i in range(2,num):
   if(num % i)==0:
    prime=1
   break
  if prime==0:
   print(num,' is a prime number')
  else:
    print(num,'is not a Prime number')

Enter the number : 61
61  is a prime number

**7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10**

In [ ]:
mylist=[10,40,30,70]
revlist=[]
for i in range(len(mylist)):
 revlist.append(mylist[-i-1])
print(revlist)

[70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
n=4

for i in range(0,n):
  for j in range(0,i+1):
      print('*',end=' ')
  print()

*
* *
* * *
* * * *

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
num=[34,12,7]
print(max(num))

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
n=4
for i in range(0,n):
  for j in range(0,i+1):
      print('*',end=' ')
  print()
for i in range(0,n):
  for j in range(i+1,n):
      print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * *
* *
*